<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="http://localhost:5000/static/css/bootstrap.css"/>
	<meta charset="utf-8" />

</head>
<body style="background-color: #F2F4F4;">

	<script type="text/javascript" src="http://localhost:5000/static/js/jquery-3.2.1.min.js"></script>
	 <script type="text/javascript" src="http://localhost:5000/static/js/bootstrap.js"></script>
	 <script type="text/javascript" src="http://localhost:5000/static/js/attack.js"></script>

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-4 hidden-xs-down"></div>

			<div class="col-md-4 col-xs-12">

				<div class="panel panel-default" style="margin-top: 45px;">

					<div class="panel-body">

						<center>

							<img src="../images/logo.png" width="100">

					    	<h2 class="text-important" style="color: #85C1E9;">Sign up</h2>

						</center>

						<form class="signupform">

							<center>
								<span class="signup-error"></span>
								<div class="form-group" style="width:300px;">

									<input style="border:0.1em solid  #85C1E9;" required type="text" name="username" class="form-control" placeholder="Username">

								</div>

							</center>
							
							<center>

								<div class="form-group" style="width:300px;">

									<input style="border:0.1em solid  #85C1E9;" required type="email" name="email" class="form-control" placeholder="Email">

								</div>

								<div class="form-group" style="width:300px;">

									<input style="border:0.1em solid  #85C1E9;" required type="password" name="password" class="form-control" placeholder="Password">

								</div>

								<div class="form-group" style="width:300px;">

									<input style="border:0.1em solid  #85C1E9;" required type="password" name="repassword" class="form-control" placeholder="ReType Password">

								</div>

							</center>

							<center>

								<button style="width: 180px; color:  #85C1E9; border:0.15em solid #AED6F1; border-radius:5px;" type="submit" name="signup" class="submit" class="btn btn-default">Create Account</button>

							<hr>

							<center>

								<span style="color:  #85C1E9;">Already have an Account? <a href="/login">Sign in</a>

								</span>

							</center>

							<hr>

						</center>

						</form>

					</div>

				</div>

			</div>

			<div class="col-md-4 hidden-xs-down"></div>

		</div>

	</div>

</body>

<script>

	// document.querySelector('.CreateBtn').addEventListener('click',(e)=>function(){
	// 	e.preventDefault();

	// });


	$(document).ready(function(){
		
		$(".signupform").submit(function(e){

			e.preventDefault();

			var username = $(".username").value;
			var email = $(".email").value;
			var password = $(".password").value;
			var repassword = $(".repassword").value;
			
			if(username == "" || email == "" || password == "" || repassword == ""){

				alert("Please fill all fields");

			}else{

				if(password == repassword){

					  HTTP.set('POST', 'api/signup', new FormData(this)).request((resp) => {

					  	if(resp.error == false && resp.created == true){

					  		localStorage.setItem('id', resp.user.user_id);
		  		   	  localStorage.setItem('username', resp.user.username);

		  		   	  window.location = resp.message;

					  	}else{

					  		  DOM.html('.signup-error', resp.message);

					  	}

					  }, {need_progress_bar : false});

				}else{

					DOM.html('.signup-error', 'Password And Re-Typed Password Fields Must Be Equal And The Same');

				}
				
			}
		});
	});
</script>
</html>
