<!DOCTYPE html>
<html>
<head>

	<title> Tutorgram | Home </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="http://localhost:5000/static/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="http://localhost:5000/static/css/yazz.styles.css" />
	<link rel="stylesheet" type="text/css" href="http://localhost:5000/static/css/styles.tutorgram.css" />
	<meta charset="utf-8" />

	<style type="text/css">
	
	    /*                              DESKTOP STYLES                                                     */

        @media only screen and (min-width: 701px){

        }

       /*                              MOBILE STYLES                                                         */

        @media only screen and (max-width: 700px){

        }

        .tg-top-nav{

        	border: .05em solid #747170; 
        	height: 13%;
        	background-color: #fff;
        	box-shadow: 0px 2px 2px 0px #747170;

        }

        .tg-side-nav{

        	border: .05em solid lightgrey;
        	width: 16%;
        	position: fixed;
        	left: 0;
        	margin-top: 85px;
        	height: 100%;
        	background-color: #fff;
        }

        .close-btn{

        	position: relative;
        	left: 2%;
        	top: 2%;

        }

        .tg-ask-tab{
        	width: 8%;

        }



	</style>

</head>

<body style="background-color: #F2F4F4;">
	
	 <script type="text/javascript" src="http://localhost:5000/static/js/jquery-3.2.1.min.js"></script>
	 <script type="text/javascript" src="http://localhost:5000/static/js/bootstrap.js"></script>
	 <script type="text/javascript" src="http://localhost:5000/static/js/attack.js"></script>

	 <div class="home-view container-fluid">
	    
	    <div class="nav navbar navbar-fixed-top tg-top-nav container-fluid">
    		<div class="row">
    			<div class="col-md-3 visible-lg container-fluid" style="padding-left: 5%;">
    				<br />
    				Logo Comes Here
          </div>
    			<div class="col-md-6" style="">
    				<br />
              <center>
                <table class="" style="border: 0.04em solid #1DA1F2; width: 65%">
                  <tr>
                    <td class="app-search-tab app-search-icon">
                      <center>
                        <span class="glyphicon glyphicon-search"></span>
                      </center>
                     </td>
                     <td class="app-search-tab">
                      <input type="search" class="tg-search" name="search" placeholder="search Tutorgram" />
                     </td>
                    </tr>
                   </table>
                  <br />
                 <div class="app-search-dropdown container-fluid">
                 <div class="dropdown-view"></div>
                 </div>
               </center>
    			    </div>
    			  <div class="col-md-3 visible-lg">
    				<br />
    				<table class="app-nav-table">
    					<tr>
    						<td class="app-nav-tab home app-tab">
    							<center>
    								<a href="http://localhost:5000/home">
    									<span class="app-nav-icon glyphicon glyphicon-home"></span>
                      <span class="app-grey-text visible-lg visible-xs">Home</span>
    								</a>
    							</center>
    						</td>
                <td class="app-nav-tab search app-tab visible-xs">
                    <center>
                     <a class="app-search-btn">
                      <span class="glyphicon glyphicon-search"></span>
                      <span class="app-grey-text visible-lg visible-xs">Search</span>
                     </a>
                    </center>
                </td>
    						<td class="app-nav-tab messages app-tab">
    							<center>
    								<a class="app-messages-btn">
    									<span class="app-nav-icon glyphicon glyphicon-envelope"></span>
                      <span class="app-grey-text visible-lg visible-xs">Messages</span>
    								</a>
    							</center>
    						</td>
    						<td class="app-nav-tab notifications app-tab">
    							<center>
    								<a class="app-notification-btn">
    									<span class="app-nav-icon glyphicon glyphicon-bullhorn"></span>
                      <span class="app-grey-text visible-lg visible-xs">Notifs</span>
    								</a>
    							</center>
    						</td>
    						<td class="app-nav-tab">
    							<center>
    								<button class="btn btn-default tg-ask">Ask A Question</button>
    							</center>
    						</td>
    					</tr>
    				</table>
    			</div>
    		</div>
    	</div>

    	<!--- FOR SIDE NAV BAR -->
	    <div class="row">
	    	<div class="col-md-2">

	    	   <div class="sidenav tg-side-nav">
	    	   	
	    	   </div>

	    	</div>
	    	<div class="col-md-8">

	    		<br />
	    		<br />
	    		<br />
	    		<br />
	    		<br />

	    <div class="panel panel-default">

	    	<div class="panel-body">
	    		ghjkml
	    	</div>

	    </div>

	    	</div>

	    	<div class="col-md-2">
	    		
	    	</div>

	    </div>


	    <!--   MODALS   -->

	    <div class="app-block-popout">

	    	<button class="close-btn btn btn-default">
	    	  <span class="glyphicon glyphicon-remove"></span>
	    	</button>

    		<div class="app-block-popout-content app-fade container-fluid">

            <div class="app-modal-view"></div>

            <div class="tg-ask-body">
            	
            	<div class="media">
               <div class="media-left" style="width:60px">

                 <img height="40" width="40" class="compose-img media-object img-circle" />

               </div>
               <div class="media-body">

                 <form class="tg-ask-form">

                 	 <textarea name="ask_text" class="compose-box" placeholder="Say Your Peace"></textarea>
                 	 <input type="file" name="file" />
                 	 <input type="hidden" name="context" value="1" />
                   <input type="hidden" name="user_id" class="user-id"/>

                 </form>

               </div>

               <div class="space-small"></div>
               <div class="space-small"></div>
               <div class="space-small"></div>
               <div class="app-compose-buttons">
               	  <table class="table-bordered tg-table">
               	  	<tr>
               	  		<td class="tg-ask-tab">
               	  			<center>
               	  				<label for="media-form" class="visual-media">
                            <a class="btn btn-info">
                              <span class="glyphicon glyphicon-camera"></span>
                            </a>
                           </label>
               	  			</center>
               	  		</td>
               	  		<td class="" ></td>
               	  		<td class="tg-ask-tab">
               	  			<center>
               	  				<button class="btn btn-info record-trash">
                            <span class="glyphicon glyphicon-trash"></span>
                         </button>
               	  			</center>
               	  		</td>
               	  		<td class="" >
               	  				<button class="btn btn-default tg-ask-submit">
                             Share
                          </button>
               	  		</td>
               	  	</tr>
               	  </table>
               </div>

             </div>


            </div>

    	  </div>
    	 </div>
      </div>


    <!-- TUTORGRAM TOAST -->

   <div class="app-toast app-fade container-fluid">
		<div class="toast-body">
		 <center>
			 	<span class="toast-text"> Hello world im an Error!! Thats Wassup</span>
		 </center>
		</div>
   </div>


	 <script type="text/javascript" src="http://localhost:5000/static/js/main.tutorgram.js"></script>

	 <script type="text/javascript">

	  window.onload = () => {

        ui.popOut(DOM.get('.tg-ask'), (params) => {

        DOM.get(params.content_view).style.height = '200px';
        DOM.get(params.content_view).style.top = '14%';

       });


      DOM.get('.tg-ask-submit').onclick = () => {

        DOM.val('.user-id', isLogged.id);

        ui.fetch({method : 'POST', url : '/api/ask', form : new FormData(DOM.get('.tg-ask-form')), bar : bar}, (resp) => {

            console.log(resp);

        });

       };


       DOM.get('.tg-search').onkeyup = () => {

          let form = new FormData();

          form.append('q', DOM.val('.tg-search'));
          form.append('user_id', isLogged.id);
          form.append('context', 1);

          ui.fetch({method : 'POST', url : '/api/search', form : form, bar : bar}, (resp) => {

            console.log(resp);

          });

       }

    }



	 </script>
</body>
</html>