<!DOCTYPE html>
<html>
  <head>
	<title id="tg-title"> Tutorgram </title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="static/css/styles.tutorgram.css"/>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <style type="text/css">
      
    </style>
  </head>
  <body id="main">
      <script src="static/js/jquery-3.2.1.min.js"></script>
      <script src="static/js/bootstrap.js"></script>
      <script src="static/js/attack.js"></script>
    
    <div class="tg-cover-body">

        <img alt="user cover photo" class="tg-user-cover" />

    </div>
    
    <div class="tg-user-info">
        <table class="table-bordered tg-table">

            <tr>
                <td class="tg-block tg-user-profile-picture">

                </td>
                <td class="tg-block tg-user-actions">

                </td>
            </tr>

        </table>
    </div>

    <div class="tg-user-bio">

    </div>

    <script src="static/js/main.tutorgram.js"></script>
  </body>
</html>